<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body><h1>Here is your post details</h1>
    <div class="post-box">
    <p> id = <%= post.id %> </p>
    <h2><%= post.username%></h2>
    <h4><%= post.content %> </h4></div>
    <a href="http://localhost:8080/">Back to home</a>
   
</body>
</html>